<!DOCTYPE html>
<html lang="en" class="dark-mode">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Generic WebApp{% endblock %}</title>
    <link href="{{ config['BASE_URL_CDN'] }}css/style.css" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">GenericApp</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><button id="dark-mode-toggle" class="btn grey darken-2">Toggle Dark Mode</button></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{{ config['BASE_URL_CDN']}}js/app.js"></script>
</body>
</html>
